.my-nav {
  margin-bottom: 40px;
  background-color: #ff9c3c;
    font-family: 'Permanent Marker', cursive;
}

.my-thumbnail.my-images {
  border-radius: 50%;
}


.email-icon{
  bottom: 7px;
  position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.left-info{
  border-radius: 30px 15px 15px 30px;
  background-color: #ff9c3c;
  padding: 20px;
}

.right-info{
  border-radius: 15px 30px 30px 15px;
  background-color: #ff9c3c;
  padding: 20px;
}

body{
  background-color: #089de3;
}

h3, h6{
  font-family: 'Permanent Marker', cursive;
}

p{
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: large;
}

.my-background{
background-color: #ff9c3c;
padding: 20px;
border-radius: 30px 30px 30px 30px;
}

.my-card{
  margin-top: 20px;
  background-color: #ff9c3c;
  margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail {
}

.detail p {
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
}

.overview{
}

.all-content{
  background-color: #09ade3;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 60px;
  border-radius: 30px;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.my-images{
 border-radius: 10px;
 width:100%;
 position: relative;
 top: 50%;
 transform: translateY(-50%);
}

.entry{
  margin-left: 5%;
  margin-right: 5%;
}

.test{
  height: 1000px;
}
